/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sfb/pipeline -profile test,docker --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test stub profile'
    config_profile_description = 'Simply stubbing the tasks in the pipeline instead of running them'

    // Input data
    input                  = 'assets/example.samplesheet.csv'
    outdir                 = 'test_stub'
    tso500_resource_folder = 'assets/example.tso500_resource_folder'
}
