/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run inpred/tso500_nxf_workflow -profile test,docker --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '1.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test stub profile'
    config_profile_description = 'Simply stubbing the tasks in the pipeline instead of running them'

    // Input data
    nxf_samplesheet                      = 'assets/stub_data/nxf_samplesheet.csv'
    outdir                               = 'test_stub'
    tso500_resource_folder               = 'assets/example.tso500_resource_folder'
    localapp_root_output_dir             = 'assets'
    //decoy_run_completion_status_xml      = 'assets/decoy_RunCompletionStatus.xml'
    seq_data_root_output_dir             = 'assets'
    metrics_plotting_all_runs_output_dir = 'test_stub/metrics_plotting_all_runs'
    metrics_plotting_n_runs_output_dir   = 'test_stub/metrics_plotting_n_runs'
}
